/* src/components/AgeCalculator.css */

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.age-calculator {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--Light-grey);
  overflow: visible;
}

.card {
  background-color: var(--White);
  width: 600px;
  overflow: visible;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.form_container {
  display: flex;
  gap: 1.5rem;
  overflow: visible;
}

.block {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.block label {
  text-transform: uppercase;
  font-weight: 600;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  width: 120px;
  padding: 0.5rem;
  border: 1px solid var(--Light-grey);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.5rem;
  font-weight: 800;
}

.submit_block {
  display: flex;
  align-items: center;
  overflow: visible;
}

.submit_block hr {
  width: 100%;
}

.submit_block .submit_btn {
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--Purple);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.output h1 {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  height: fit-content;
}

.output span {
  color: var(--Purple);
  overflow: visible;
}

small {
  color: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.age-number {
  display: inline-block;
}

/* responsividade */
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 420px;
  }

  .container {
    padding: 1rem;
  }

  .form_container {
    gap: 0.5rem;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .submit_block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .submit_block hr {
    display: none;
  }

  .output span {
    white-space: normal;
    overflow: visible;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 360px;
  }

  .container {
    padding: 1rem;
  }

  .form_container {
    gap: 0.5rem;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  .block {
    flex: 1 1 calc(33.333% - 0.5rem);
  }

  .submit_block {
    position: relative;
  }

  .submit_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .output {
    margin-top: 3rem;
  }

  .output h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .output h1 {
    font-size: 2.5rem;
  }

  .submit_btn {
    padding: 0.5rem;
  }
}

.error-input {
  border: 1px solid red;
}

.error-label {
  color: red;
}

.error-message {
  color: red;
  font-size: 0.75em;
}